@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


body {
    /* background-color: #333d46; */
    background-color: #212529;
    font-family: 'Open Sans', sans-serif;    
    
}
main {
    background-color: #333d46;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}

.active {
    background-color: #455A64;
    border-radius: 12px;
}

.text-name-login {
    font-size: 1.1rem ;
    color: #bcdeff;
}

.logo {
    max-width: 200px;
}

/* Slogan */
.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.4s ease;
}
.slogan-container {
    margin: 1rem 0;
    padding: 1.3rem;
    line-height: 1.2;
}

.slogan h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.slogan p{
    font-size: 1.6rem;
    font-weight: 400;
}

/* Search form */
.search-bar {
    width: 80%;
    margin: auto;
}

/* Main content */
.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 10px 0;
    grid-gap: 3rem;
}

/* Course cards */
.course-card{
    background-color: rgb(33, 37,41, 0.75);
    color: #d6d6d6;
    box-shadow: 5px 5px 5px #727b80;
    width: 350px;
    justify-self: center;
}

.img-course img{
    width: 350px;
    padding: 0;
}

.tag-list ul{
   padding-left: 10px;
}

.tag-list ul li{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0px 8px;
    border: 1px #ccc solid;
    border-radius: 16px;
}
.tag-list ul li a {
    color: #ccc;
    font-size: 0.85rem;
}
.tag-list ul li a:hover{   
    text-decoration: none; 
    font-size: 0.9rem;
    color: #fff;
}

.course-name, .author, .description {
    padding: 5px 15px;
}

.course-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px 0;
    color: #f8f9fa;
}

.author {
    font-size: 1rem;
}

.author-name {
    color: #eee;
    font-weight: 500;        
}

.description {
    font-size: 1.3rem;
    line-height: 1.5;
}


.form-control {
    background-color: #EEEEEE ;
}

.text-label{
    color: #97b4ce;
}

/* Login form */
#login-logo {
    max-width: 80px;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-wrap {
    background-color: #404a53;
    padding: 1rem 2rem 2rem;
    border-radius: 6px;
    max-width: 600px;
}

.login-wrap .login-title {
    font-weight: 600;
    font-size: 3rem;
}

.login-wrap p {
    padding: 10px 0;
    color: #ccc;
}

.login-form .form-control {
    padding-left: 30px;
}
.login-form .form-group {
    position: relative;
}

.login-form input.form-control{
    height: 48px;
    border: none;
    font-size: 1.1rem;
    border-radius: 0;
    background-color:  rgb(0 0 0 / 2%) !important;
    color: #fff;
    -webkit-text-fill-color: #fff;
    border-bottom: 1px solid #1fb075;

}
.login-form input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #404a53 inset;
    box-shadow: rgba(0, 0, 0, 0.05);
    transition: background-color 5000s ease-in-out;
}

.login-form input:-internal-autofill-selected {
    background-color:  rgba(0, 0, 0, 0.05) !important;
}

.login-form input.form-control::-webkit-input-placeholder{ 
    color: #c2c2c2 !important;
}


.login-form input.form-control:focus,
.login-form input.form-control:active {
    box-shadow: none;
}

.form-group .icon {
    position: absolute;
    top: 15px;
    left: 0px;
}

.login-form a {
    color: #3cd396;
}

.login-form a:hover {
    color: #1fb075;
}

.login-form .btn.btn-primary {
    background: #3cd396;
    border: 1px solid #3cd396 ;
    color: #fff ;
}

.login-form .btn.btn-primary:hover {
    background-color: #1fb075;
    border-color: #1fb075;
}

/* Share box */
.modal-content {
    width: fit-content;
}

.modal-body img {
    max-width: 50px;
}

.facebook-custom {
    content: url('../img/facebook_logo.png');
    max-width: 60px;

}
.twitter-custom {
    content: url('../img/twitter_logo.png');
    max-width: 60px;
}

.reddit-custom {
    content: url('../img/reddit_logo.png');
    max-width: 60px;
}

.whatsapp-custom {
    content: url('../img/whatsapp_logo.png');
    max-width: 70px;
}

/* Footer */
.text-name-footter {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1fb075;
}

.seperate-line {
    width: 100%;
    border-top: 1px solid #8b8b8b;
}



@media (max-width: 768px){
    .active {
        background: none;
    }
    .search-bar{
        width: 95%;
    }
    .login-wrap {
        max-width: 360px;
    }
    .login-wrap .login-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 575px){
    body {
        font-size: 1.1rem;
    }
    .courses-container {
        margin: 0;
    }
    .course-name {
        font-size: 1.3rem;
    }
    .description p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    
    
    .grid-view {
        grid-gap: 1.5rem;
    }
}