{% extends 'courses/base.html' %}
{% load static %}
{% load social_share %}

{% block content %}
<!-- Slogan -->
<div class="slogan text-light bg-dark">
    <div class="slogan-container">
        <h1>No Need to Pay</h1>
        <p>We have some great free courses for you!</p>
    </div>
</div>

<!-- Search bar -->
<div class=" my-2 mb-3 search-bar ">
    <form class="input-group" action="{% url 'courses:search_course' %}">
        <input class="form-control rounded-start" type="text" name="key" placeholder="Python, JavaScript, Swift...">
        <button class="btn-outline-light bg-info text-dark rounded-end" type="submit"><i
                class="fas fa-search px-2"></i></button>
    </form>
</div>

<!-- Main content -->
{% if tag %}

<div class="d-flex align-items-center justify-content-center pt-4 pb-2">
    <h3 class="text-light ">Courses with tag: <span class="text-warning"> {{tag}} </span></h3>
</div>

{% else %}
<h2 class="text-light text-center py-4">Top picks from us!</h2>

{% endif %}

{% include "courses/course_template.html" with courses=courses %}



{% endblock %}