{% extends 'courses/base.html' %}
{% load static %}

{% block content %}

<!-- Slogan -->
<div class="slogan text-light">
    <div class="slogan-container">
        <h1 class="mb-3">Your Favorites</h1>
        {% if not favorite_courses %}
        <p class="fs-5">Seems like you don't have any favorite Course</p>
        {% endif %}
        <p class="fs-6">Click the <i class="fas fa-star"></i> icon below courses to set them as your favorites </p>
    </div>
</div>
{% if request.user.is_authenticated %}

<!-- Main content -->
{% include 'courses/course_template.html' with courses=favorite_courses %}


{% endif%}

{% endblock %}