{% extends 'courses/base.html' %}
{% load static %}

{% block content %}

<main class="">
    <!-- Slogan -->
    <div class="slogan text-light">
        <div class="slogan-container">
            <h1 class="mb-3">Your Favorites</h1>
            {% if not favorite_courses %}
            <p class="fs-5">Seems like you don't have any favorite Course</p>
            {% endif %}
            <p class="fs-6">Click the <i class="fas fa-star"></i> icon below courses to set them as your favorites </p>
        </div>
    </div>

    <!-- Main content -->
    <div class="d-flex justify-content-center align-items-center ">
        <div class="container grid-view">
            {% for course in favorite_courses %}
            <div class="course-card position-relative ">
                <a class="img-course" href="{{course.url}}">
                    <img src="{{course.thumbnail_url}}" alt="Course Image">
                </a>
                <div class="keyword-list">
                    <ul class="d-flex flex-wrap mt-1 mx-auto">
                        {% for key in course.get_keywords%}
                        <li><a href="">{{key}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="course-name">{{course.course_name}}</div>
                <div class="author">by <span class="author-name">{{course.author}}</span></div>
                <div class="description">
                    <p>{{course.description}}</p>
                </div>

                <div class="d-flex justify-content-center align-items-center my-3">
                    <div class='position-absolute bottom-0 my-2 d-flex align-items-center  w-100'>
                        <a class="ms-3" href="{{course.url}}">
                            <button type="button" class="btn btn-info">Learn More</button>
                        </a>
                        <a class="ms-3" href="">
                            <button type="button" class="btn btn-info">Share <i class="fas fa-share-alt"></i></button>
                        </a>

                        <div class="text-warning ms-auto me-3 toggle-favorite" id="course-{{course.id}}"><i
                                class="fas fa-star fa-2x"></i>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}