{% extends 'courses/base.html' %}
{% load static %}

{% block content %}

<main class="">
    <!-- Slogan -->
    <div class="slogan text-light">
        <div class="slogan-container">
            <h1 class="mb-3">Your Favorites</h1>
            {% if not favorite_courses %}
            <p class="fs-5">Seems like you don't have any favorite Course</p>
            {% endif %}
            <p class="fs-6">Click the <i class="fas fa-star"></i> icon below courses to set them as your favorites </p>
        </div>
    </div>
    {% if request.user.is_authenticated %}

    <!-- Main content -->
    <div class="d-flex justify-content-center align-items-center ">
        <div class="container grid-view">
            {% for course in favorite_courses %}
            <div class="course-card position-relative ">
                <a class="img-course" href="{{course.url}}">
                    <img src="{{course.thumbnail_url}}" alt="Course Image">
                </a>
                <div class="keyword-list">
                    <ul class="d-flex flex-wrap mt-1 mx-auto">
                        {% for key in course.get_keywords%}
                        <li><a href="">{{key}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="course-name">{{course.course_name}}</div>
                <div class="author">by <span class="author-name">{{course.author}}</span></div>
                <div class="description">
                    <p>{{course.description}}</p>
                </div>

                <div class="d-flex justify-content-center align-items-center my-3">
                    <div class='position-absolute bottom-0 my-2 d-flex align-items-center  w-100'>
                        <a class="ms-3" href="{{course.url}}">
                            <button type="button" class="btn btn-info">Learn More</button>
                        </a>
                        <a class="ms-3" href="">
                            <button type="button" class="btn btn-info">Share <i class="fas fa-share-alt"></i></button>
                        </a>

                        <div class="text-warning ms-auto me-3 toggle-favorite" id="course-{{course.id}}"><i
                                class="fas fa-star fa-2x"></i>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}

    <div class="modal-open" id="loginForm" tabindex="-1" aria-labelledby="loginForm-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content bg-dark">
                <div class="login-wrap">
                    <div class=" d-flex justify-content-center mb-3">
                        <img src="{% static 'courses/img/login.png' %}" alt="Login Logo" id="login-logo">
                    </div>
                    <h2 class="text-center mb-0">Please sign in</h2>
                    <p class="text-center">Sign in by entering the information below</p>
                    <form class="form login-form" method="POST">{% csrf_token %}
                        <div class="form-group mb-3">
                            <div class="icon d-flex justify-content-center align-items-center"><span
                                    class="fa fa-envelope"></span></div>

                            <input class=" form-control" autocapitalize="none" id="Email address" type=" text"
                                name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group mb-4">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="fa fa-lock"></span>
                            </div>
                            <input class=" form-control" id="id_password" type="password" name="password"
                                placeholder="Password" minlength="8" required>
                        </div>
                        {% if form.errors %}
                        <div class="form-group">
                            <div class="w-100 d-flex justify-content-center">
                                <p class="text-danger">Your username and password didn't match. Please try
                                    again.</p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="w-100 d-flex justify-content-end mb-3 ">
                                <a href="{% url 'courses:password_reset' %}">Forgot Password</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn form-control btn-primary rounded submit px-3">Get
                                Started</button>
                        </div>

                    </form>
                    <div class="w-100 text-center mt-4 text">
                        <p class="mb-0">Don't have an account?</p>
                        <div>

                            <a href="{% url 'courses:register' %}"><button class="btn btn-secondary">Sign
                                    Up</button></a>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    {% endif%}
</main>

{% endblock %}