{% extends 'courses/base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="login-wrap mt-5">
        <h2 class="text-light text-center">Forgot your password?</h2>
        <p class="text-center">Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="POST">
            {% csrf_token %}

            <input class="mb-3 form-control" type="email" name="email" id="id_email" required
                placeholder="Email Address" autocomplete="email">

            <div class="w-100 d-flex justify-content-center">
                <input class="btn btn-primary" type="submit" value="Send me instructions!">
            </div>
        </form>
    </div>
</div>

{% endblock %}