{% extends 'courses/base.html' %}
{% block content %}



<div class="row justify-content-center py-3 mx-3 py-md-5">
    <div class="login-wrap py-3">

        <h3 class="text-light fw-bold fs-1">Password reset complete</h3>

        <p>Your password has been set. You may go ahead and log in now.</p>

        <div class="row">
            <a class="text-light text-center" href="{% url 'courses:login' %}">
                <button type="submit" class="btn btn-primary px-3 text-light">Log
                    in</button>
            </a>
        </div>



    </div>

</div>


{% endblock %}