{% extends 'courses/base.html' %}
{% block content %}

<div class="row justify-content-center py-3">
    <div class="login-wrap py-5">

        <h2 class="text-light text-center fw-bold fs-2">Password reset sent</h2>

        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.</p>

        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your spam folder.</p>

    </div>
</div>



{% endblock %}