{% extends 'courses/base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="slogan text-light">
        <div class="slogan-container">
            <h1 class="mb-3">Share your course</h1>
            <p class="fs-6">Your submission will be carefully reviewed and only published once it has passed the
                verification </p>
        </div>
    </div>
    <div class="container">
        <div id="forms" class="pb-3 pt-3 pb-5">
            <!-- Form -->
            <form class="form mx-auto" method='POST' action="{% url 'courses:suggest_course' %}">{% csrf_token %}
                <div class="input-group row">
                    <label
                        class="col-lg-2 col-md-1 col-form-label form-control-label text-light justify-content-end align-items-center d-lg-flex ">Name</label>
                    <div class="col-md-5 col-lg-4">
                        <input class="form-control mb-2" id="id_name" type="text" name="name"
                            value="{{form.name.value}}" placeholder="James">
                    </div>
                    <label
                        class="col-lg-2 col-md-1 col-form-label form-control-label text-light justify-content-end align-items-center d-lg-flex">Email</label>
                    <div class="col-md-5 col-lg-4">
                        <input class="form-control mb-lg-2" id="id_email" type="text" name="email"
                            value="{{form.email.value}}" placeholder="email@gmail.com">
                    </div>
                </div>

                <div class="input-group row mt-2 mt-lg-4">
                    <label
                        class="col-lg-2 col-form-label form-control-label  justify-content-end align-items-center d-lg-flex text-light ">Course
                        Name</label>
                    <div class="col-lg">
                        <input class="form-control" id="id_course_name" type="text" name="course_name"
                            placeholder="Django from zero to hero" value="{{form.course_name.value}}" required>
                    </div>
                </div>
                <div class="input-group row mt-2 mt-lg-4">
                    <label
                        class="col-lg-2 col-form-label form-control-label text-light justify-content-end align-items-center d-lg-flex">Course
                        URL</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="id_course_url" name="course_url" type="text" placeholder=""
                            value="{{form.course_url.value}}" required>
                    </div>
                </div>
                <div class="input-group row mt-2 mt-lg-4">
                    <label
                        class="col-lg-2 col-form-label form-control-label text-light justify-content-end align-items-center d-lg-flex">Description</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="id_description" type="text" name="description" required
                            placeholder="This course will give you a full introduction into all of the core concepts in python."
                            value="{{form.description.value}}">
                    </div>
                </div>

                {% if form.errors %}
                <div class="input-group row">
                    <label class="col-lg-2 col-md-1"></label>
                    <div class="col pt-3">
                        {% if form.errors.name %}
                        <p class="text-danger py-0">Name is too long, it should be less than 150 characters</p>
                        {% elif form.errors.email %}
                        <p class="text-danger py-0">{{form.errors.get_json_data.email.0.message}}</p>
                        {% else %}
                        <p class="text-danger py-0">Please enter a valid Course URL</p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if success %}
                <div class="input-group row">
                    <label class="col-lg-2 col-md-1"></label>
                    <div class="col pt-3">
                        <p class="text-info py-0">Thank you for your sharing!</p>
                    </div>
                    {% endif %}
                    <div class="input-group row mt-2 mt-lg-3">
                        <label class="col-lg-2"></label>
                        <div class="col-lg-10">
                            <input type="reset" class="btn btn-outline-secondary mr-2" value="Cancel">
                            <input type="submit" class="btn btn-primary mr-2" name="submit" value="Submit">
                        </div>
                    </div>
            </form>

        </div>
    </div>





</main>


{% endblock %}